.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    /* border: 3px solid #fff; */
    /* border-color: orangered; */
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 255, 0);
    /* &:hover: {
      z-index: 1;
    } */
}