.recorderContainer ._1lB9c {
background-color:#3F3F3F;
}
.recorderContainer ._dt3-T {
margin-left: 15%;
margin-right: 15%;
}
.recorderContainer ._1Pz2d.undefined {
    display: none;
}
.recorderContainer ._1Pz2d._2gd2_ {
    margin-left: 0rem;
}
.recorderContainer ._2N9dq{
    margin-left: 39%;
    margin-right: 25%;
}
